<div  class="shadow-lg p-3 mb-5 bg-white rounded">
  <center>
    <h1>Editar Producto</h1>
  </center>
</div>
<%= render 'form', checkatri: @checkatri %>

<br>
<center>
<%= link_to 'Cancelar', checkatris_path, class:"btn btn-outline-secondary  col-md-2" %>
<br>
<hr>
</center>
