
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div  class="shadow-lg p-3 mb-5 bg-white rounded">
      <center>
        <h1>Nueva remisiòn</h1>
      </center>
    </div>
    <br>

    <center>

      <%=render 'form'%>
      <br>
        <%= link_to 'Ver Remisiones', remisions_path, class:"btn btn-outline-danger mr-2" %>
        <hr>
    </center>
  </body>


</html>
