<div  class="shadow-lg p-3 mb-5 bg-white rounded">
  <center>
    <h1>Editar Reporte</h1>
  </center>
</div>
<%= render 'form', reporte: @reporte %>
<br>
<center>
<%= link_to 'Cancelar', reportes_path, class:"btn btn-outline-primary  col-md-3" %>
</center>
