<div class="nested-fields">
    <div class="form-check-inline col-form-label">
      <h5><%= f.input :nombre %></h5>
    </div>
    <div class="form-check-inline ">
      <h5><%= f.input :serial%></h5>
    </div>

    <div class="col-md-10 ">
    <h5><%= f.input :fecha_vencimiento, as: :date,start_year: Date.today.year-10,
                                end_year: Date.today.year+30,
                                order:[:year,:month, :day] %></h5>
    </div>

    <div class=" form-check-inline">
      <%= link_to_remove_association  "X",f,class:"btn btn-outline-danger"%>
    </div>


</div>
