<div  class="shadow-lg p-3 mb-5 bg-white rounded">
  <center>
    <h1>Nuevo registro</h1>
  </center>
</div>

<%= render 'form', hojavida: @hojavida %>
<br>
<center>
<%= link_to 'Atras', hojavidas_path, class:"btn btn-info col-md-4" %>
<br>
<hr>
</center>
