<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Samaracosmetics</title>
    <%=wicked_pdf_stylesheet_link_tag 'pdf'%>
  <body>
    <%=yield%>
  </body>
</html>
